.mainDiv {
    background-image: url("../../images/portfolio_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    text-transform: uppercase;
}

.mainHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    padding: 20px;
}

@media screen and (max-width: 538px) {
    .mainHeader{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        justify-content: space-around;
        padding: 20px;
    }
}

.default{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}
.nonDefault{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 100px;
    max-width: 65%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 1000px) {
    .nonDefault{
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-bottom: 100px;
        max-width: 85%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 600px) {
    .nonDefault{
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-bottom: 100px;
        max-width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }
}

.infoBoxMain{
    display: flex;
    flex-grow: 0;
    margin-bottom: 15px;
    margin-top: 20px;
    flex-direction: column;
    color: rgb(255, 255, 255);
    
    justify-content: center;
    align-items: center;
    font-size: 50px;  
}

.infoPanel{
    display: flex;
    justify-content: center;
    flex: 1;
}

p{
    text-align: center;
}


@media screen and (max-width: 500px) {
    
    .mainDiv {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }    

    .infoBoxMain{
        display: flex;
        margin-bottom: 50px;
        flex-direction: column;
        color: rgb(255, 255, 255);
        justify-content: center;
        align-items: center;
        padding-right: 5px;
        padding-left: 5px;
        font-size: 30px;  
    }
}

.socialImage{
    height: 40px;
    width: 50px;
    margin-right: 20px;
}

#socialSpan{
    display: flex;
    margin: 10px;
}

@media screen and (min-width: 1000px) {
    .typewriter {
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em; /* Adjust as needed */
        animation: 
          typing 2.5s steps(100, end);
      }
      
      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
}

.viewResumeDiv{
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
}

.viewResumeButton{
    text-transform: uppercase;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 7px;
    width: 140px;
}

.viewResumeButton:hover{
    transition: .7s ease;
    color: white;
    background-color: red;
}

  

