.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:#1b242f;
    height: 100px;
}

#footerDate{
    color: rgb(206, 65, 65);
}

#footerName{
    text-transform: uppercase;
    color: rgb(100, 100, 100);
}