#main{
    
    background-image: url("./images/portfolio_background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}


@media screen and (max-width: 700px) {
    #main{
        
        background-image: url("./images/portfolio_background_small.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        min-height: 100vh;
    }
    
}
